<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - GoSNippets</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href="static\vendor\fontawesome-free\css\all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="static\CSS\css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static\vendor\fontawesome-free\css\all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="static\CSS\css/sb-admin-2.min.css" rel="stylesheet">

    <link href='' rel='stylesheet'>
    <style>
        .register {
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
            margin-top: 3%;
            padding: 3%;
        }

        .register-left {
            text-align: center;
            color: #fff;
            margin-top: 4%;
        }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

        .register-right {
            background: #f8f9fa;
            border-top-left-radius: 10% 50%;
            border-bottom-left-radius: 10% 50%;
        }

        .register-left img {
            margin-top: 15%;
            margin-bottom: 5%;
            width: 25%;
            -webkit-animation: mover 2s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        @-webkit-keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        .register-left p {
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }

        .register .register-form {
            padding: 10%;
            margin-top: 10%;
        }

        .btnRegister {
            float: right;
            margin-top: 10%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #0062cc;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
        }

        .register .nav-tabs {
            margin-top: 3%;
            border: none;
            background: #0062cc;
            border-radius: 1.5rem;
            width: 28%;
            float: right;
        }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #0062cc;
            border: 2px solid #0062cc;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        .register-heading {
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #495057;
        }

        .form-select {
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</head>


<body id="page-top">


    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                href="{{ url_for('sale_dashboard') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <!-- <img src="/static/images/img/Truck_img_1.jpeg" alt="Logo Icon" class="img-profile rounded-circle"> -->

                <div class="sidebar-brand-text mx-3">Sales Man</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('sale_dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('new_sale', filename='') }}">
                    <span>New Sale</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('new_appointment', filename='') }}">
                    <span>New Appointment</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('view_all_sales', filename='') }}">
                    <span>View All Sales</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('view_all_appointments', filename='') }}">
                    <span>View All Appointment</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/templates/admin_temp/tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span
                                    class="mr-2 d-none d-lg-inline text-gray-600 small">{{sale_man_info[0]['user_name']}}</span>
                                <img class="img-profile rounded-circle" src="static\images/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout', filename='') }}" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container register">
                    <div class="row">
                        <div class="col-md-3 register-left">
                            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
                            <h3>Welcome</h3>
                            <p>To Sublime Freight Sales Form</p>
                        </div>
                        <div class="col-md-9 register-right">

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <h3 class="register-heading">Add New Sale</h3>

                                    <form action="{{ url_for('new_appointment') }}" method="post"
                                        enctype="multipart/form-data">
                                        <div class="row register-form">
                                            <div class="col-md-6">


                                                <!-- This is important . Its go for carear Id But its not -->

                                                <div class="form-group d-none">
                                                    <input name="appointment_id" type="text" class="form-control"
                                                        placeholder="Appointment ID"
                                                        value="{{carear_info['appointment_id']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="company_name" type="text" class="form-control"
                                                        placeholder="Company Name"
                                                        value="{{carear_info['company_name']}}" />
                                                </div>
                                                <div class="form-group">
                                                    <input name="usdot" type="text" class="form-control"
                                                        placeholder="US DOT" value="{{carear_info['usdot']}}" />
                                                </div>
                                                <div class="form-group">
                                                    <input name="email" type="text" class="form-control"
                                                        placeholder="Carear Email" value="{{carear_info['email']}}" />
                                                </div>
                                                <div class="form-group">
                                                    <input name="truck_or_traler" type="text" class="form-control"
                                                        placeholder="Truck / Trailer"
                                                        value="{{carear_info['truck_type_and_number']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="comments" type="text" class="form-control"
                                                        placeholder="Comments" value="{{carear_info['comments']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <select name="appointment_type" class="form-select"
                                                        aria-label="Default select example" required>
                                                        <option value="{{carear_info['appointment_type']}}" disabled selected
                                                            hidden>Select Appoinment type</option>
                                                        <option value="good_appointment" name="appointment_type"
                                                            style="background-color: green;">Good Appointment</option>

                                                        <option value="bad_appointment" name="appointment_type"
                                                            style="background-color: red;">Bad Appointment</option>

                                                        <option value="fellow_up_appoinment" name="appointment_type"
                                                            style="background-color: yellow;">Follow Up</option>
                                                        <option value="" name="appointment_type"
                                                            style="background-color: pink;" disabled>ABC Appointment</option>
                                                        <option value="" name="appointment_type"
                                                            style="background-color: black;" disabled>XYZ Appointment</option>
                                                    </select>
                                                </div>
                                            </div>



                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="carear_name" type="text" class="form-control"
                                                        placeholder="Carear Name" value="{{carear_info['carear_name']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="mc" type="text" class="form-control" placeholder="MC"
                                                        value="{{carear_info['mc']}}" />
                                                </div>


                                                <div class="form-group">
                                                    <input name="phone_number" type="text" class="form-control"
                                                        placeholder="Carear Phone"
                                                        value="{{carear_info['phone_number']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="conversations" type="text" class="form-control"
                                                        placeholder="Conversations" value="{{carear_info['conversations']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input required name="date" type="date" class="form-control"
                                                        placeholder="Date" value="{{carear_info['date']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <select  name="state" class="form-select"
                                                        aria-label="Default select example" required>
                                                        <option value="{{carear_info['sale_type']}}" disabled selected
                                                            hidden>Select state</option>
                                                            <option value="AL" >Alabama (AL)</option>
                                                            <option value="AK" >Alaska (AK)</option>
                                                            <option value="AZ" >Arizona (AZ)</option>
                                                            <option value="AR" >Arkansas (AR)</option>
                                                            <option value="CA" >California (CA)</option>
                                                            <option value="CO" >Colorado (CO)</option>
                                                            <option value="CT" >Connecticut (CT)</option>
                                                            <option value="DE" >Delaware (DE)</option>
                                                            <option value="FL" >Florida (FL)</option>
                                                            <option value="GA" >Georgia (GA)</option>
                                                            <option value="HI" >Hawaii (HI)</option>
                                                            <option value="ID" >Idaho (ID)</option>
                                                            <option value="IL" >Illinois (IL)</option>
                                                            <option value="IN" >Indiana (IN)</option>
                                                            <option value="IA" >Iowa (IA)</option>
                                                            <option value="KS" >Kansas (KS)</option>
                                                            <option value="KY" >Kentucky (KY)</option>
                                                            <option value="LA" >Louisiana (LA)</option>
                                                            <option value="ME" >Maine (ME)</option>
                                                            <option value="MD" >Maryland (MD)</option>
                                                            <option value="MA" >Massachusetts (MA)</option>
                                                            <option value="MI" >Michigan (MI)</option>
                                                            <option value="MN" >Minnesota (MN)</option>
                                                            <option value="MS" >Mississippi (MS)</option>
                                                            <option value="MO" >Missouri (MO)</option>
                                                            <option value="MT" >Montana (MT)</option>
                                                            <option value="NE" >Nebraska (NE)</option>
                                                            <option value="NV" >Nevada (NV)</option>
                                                            <option value="NH" >New Hampshire (NH)</option>
                                                            <option value="NJ" >New Jersey (NJ)</option>
                                                            <option value="NM" >New Mexico (NM)</option>
                                                            <option value="NY" >New York (NY)</option>
                                                            <option value="NC" >North Carolina (NC)</option>
                                                            <option value="ND" >North Dakota (ND)</option>
                                                            <option value="OH" >Ohio (OH)</option>
                                                            <option value="OK" >Oklahoma (OK)</option>
                                                            <option value="OR" >Oregon (OR)</option>
                                                            <option value="PA" >Pennsylvania (PA)</option>
                                                            <option value="RI" >Rhode Island (RI)</option>
                                                            <option value="SC" >South Carolina (SC)</option>
                                                            <option value="SD" >South Dakota (SD)</option>
                                                            <option value="TN" >Tennessee (TN)</option>
                                                            <option value="TX" >Texas (TX)</option>
                                                            <option value="UT" >Utah (UT)</option>
                                                            <option value="VT" >Vermont (VT)</option>
                                                            <option value="VA" >Virginia (VA)</option>
                                                            <option value="WA" >Washington (WA)</option>
                                                            <option value="WV" >West Virginia (WV)</option>
                                                            <option value="WI" >Wisconsin (WI)</option>
                                                            <option value="WY" >Wyoming (WY)</option>
                                                            
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" class="btnRegister" value="Submit" />
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <!-- <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer> -->
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('logout', filename='') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static\vendor\jquery\jquery.min.js"></script>
    <script src="static\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static\vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static\JS\js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static\vendor\chart.js\Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static\JS\js/demo/chart-area-demo.js"></script>
    <script src="static\JS\js/demo/chart-pie-demo.js"></script>


</body>

</html>