{% extends 'sale_temp/sales_man_temp.html' %}




{% block header_sytyle %}

<style>
    .table tr {
        overflow: auto;
        white-space: nowrap;
    }
</style>
        
{% endblock header_sytyle %}

{% block search_bar_contant %}
                                            <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form action="{{ url_for('view_all_appointments_for_search') }}" method="post"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input name="search_text" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
{% endblock search_bar_contant %}






{% block main_body_contant %}
                    

            <!-- Page Heading -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Appoinment Records</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Appointment ID</th>
                                    <th>Company Name</th>
                                    <th>Carear Name</th>
                                    <th>US DOT</th>
                                    <th>MC</th>
                                    <th>State</th>
                                    <th>Date</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Truck / Traler</th>
                                    <th>Conversations</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Appointment ID</th>
                                    <th>Company Name</th>
                                    <th>Carear Name</th>
                                    <th>US DOT</th>
                                    <th>MC</th>
                                    <th>State</th>
                                    <th>Date</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Truck / Traler</th>
                                    <th>Conversations</th>
                                    <th>Comments</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in appointment_data %}

                                <tr>
                                    {% if item['appointment_type'] == 'active_sale'%}                                 
                                    <td>
                                        <button style="background-color: green;" class="dropdown-item openPopupBtn" data-career-id="{{ item['appointment_id'] }}">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            {{ item['appointment_id'] }}
                                        </button>
                                    </td>
                                    {% endif %}

                                    {% if item['appointment_type'] == 'bad_appointment'%}                                 
                                    <td>
                                        <button style="background-color: red;" class="dropdown-item openPopupBtn" data-career-id="{{ item['appointment_id'] }}">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            {{ item['appointment_id'] }}
                                        </button>
                                    </td>
                                    {% endif %}

                                    {% if item['appointment_type'] == 'fellow_up_appoinment'%}                                 
                                    <td>
                                        <button style="background-color: yellow;" class="dropdown-item openPopupBtn" data-career-id="{{ item['appointment_id'] }}">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            {{ item['appointment_id'] }}
                                        </button>
                                    </td>
                                    {% endif %}

                                    <td>{{item['company_name']}}</td>                    
                                    <td>{{item['carear_name']}}</td>
                                    <td>{{item['usdot']}}</td>
                                    <td>{{item['mc']}}</td>
                                    <td>{{item['state']}}</td>
                                    <td>{{item['date']}}</td>
                                    <td>{{item['email']}}</td>
                                    <td>{{item['phone_number']}}</td>
                                    <td>{{item['truck_or_traler']}}</td>
                                    <td>{{item['conversations']}}</td>
                                    <td>{{item['comments']}}</td>
                                    <!-- <td>
                                        <a href="{{ url_for('update_carear_info', appointment_id = item['appointment_id']) }}" type="submit" class="btn">Update</a>
                                    </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
 <!-- End of Main Content -->

                <!-- Footer -->
                <!-- <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer> -->
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->



<div class="modal fade bd-example-modal-xl" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">Career Details</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <!-- Content of your popup goes here -->
            <div class="modal-body" id="popupContent"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
$(document).ready(function() {
    // Add click event listener to the buttons
    $('.openPopupBtn').on('click', function() {
        // Get the career ID from the data attribute
        var careerId = $(this).data('career-id');

        // Make an AJAX request to get the content and variable for the popup
        $.ajax({
            url: '/popup_content_for_sale_man_to_display_appointments?careerId=' + encodeURIComponent(careerId),
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                // Update the modal content with the received content and variable
                var popupContent = `
                



<section class="form-02-main student-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="_lk_de">

                    <div class="form-04-main">
                        <!-- <div class="logo">
                            <img src="/static/images/public_images/user.png">
                        </div> -->
                        <h1 class="text-center">Carear Detailes</h1>

                        <div class="form-group">
<div class="container">
    <div class="main-body ">

        <div class="row gutters-sm">

            <div class="col-md-12">
                <div class="mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Company Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.company_name}
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Carear Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.carear_name}
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">US DOT
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.usdot}    
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">MC</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.mc}
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Crear Email</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.email}                                             
                            </h5>
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Carear Phone</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.phone_number}                                    
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Truck / Traller</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.truck_or_traler}                          
                            </h5>
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Date</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.date}                                                
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Conversations</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${response.appointment_info.conversations}
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Comments</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                <p>${response.appointment_info.comments}</p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
                `;
                $('#popupContent').html(popupContent);
                
                // Show the modal
                $('#popupModal').modal('show');
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });
});

</script>


{% endblock main_body_contant %}
        
