{% extends 'dispatcher_temp/dispatcher_temp.html' %}




{% block header_sytyle %}

<style>
    .table tr {
        overflow: auto;
        white-space: nowrap;
    }
</style>
{% endblock header_sytyle %}






{% block main_body_contant %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kindly Select the Load For This Carear</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Carear ID</th>
                            <th>Company Name</th>
                            <th>Carear Name</th>
                            <th>US DOT</th>
                            <th>MC</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Truck Type & Number</th>
                            <th>EIN</th>
                            <th>INC Name</th>
                            <th>Inc Number</th>
                            <th>INC Address</th>
                            <th>INC Email</th>
                            <th>INC Fax Number</th>
                            <th>INC Converges</th>
                            <th>Factoring Name</th>
                            <th>Factoring phone Number</th>
                            <th>Factoring Email</th>
                            <th>Factoring Address</th>
                            <th>Bank Name</th>
                            <th>Routing Number</th>
                            <th>Account Name</th>
                            <th>Bank Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            {% for item in carear_info %}

                            <!-- <td>{{item['carear_id']}}</td>          -->

                            <td>
                                <a href="{{ url_for('view_all_carear') }}">
                                    <button class="dropdown-item openPopupBtn">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {{ item['carear_id'] }}
                                    </button>
                                </a>
                            </td>
                            <td>{{item['company_name']}}</td>
                            <td>{{item['carear_name']}}</td>
                            <td>{{item['usdot']}}</td>
                            <td>{{item['mc']}}</td>
                            <td>{{item['email']}}</td>
                            <td>{{item['phone_number']}}</td>
                            <td>{{item['truck_type_and_number']}}</td>
                            <td>{{item['ein']}}</td>
                            <td>{{item['inc_name']}}</td>
                            <td>{{item['inc_number']}}</td>
                            <td>{{item['inc_address']}}</td>
                            <td>{{item['inc_email']}}</td>
                            <td>{{item['inc_fax_number']}}</td>
                            <td>{{item['inc_coverges']}}</td>
                            <td>{{item['fac_name']}}</td>
                            <td>{{item['fac_phone_number']}}</td>
                            <td>{{item['fac_email']}}</td>
                            <td>{{item['fac_address']}}</td>
                            <td>{{item['bank_name']}}</td>
                            <td>{{item['routing_number']}}</td>
                            <td>{{item['account_number']}}</td>
                            <td>{{item['bank_phone_number']}}</td>
                            {% endfor %}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Record of all the loads that you give to this
                            Carear</h6>
                    </>
                    <thead>
                        <tr>
                            <th>Load ID</th>
                            <th>Load Number</th>
                            <th>Pick Up Location</th>
                            <th>Drop Location</th>
                            <th>Miles</th>
                            <th>Load Date</th>
                            <th>Load Rate</th>
                            <th>Load Description</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Load ID</th>
                            <th>Load Number</th>
                            <th>Pick Up Location</th>
                            <th>Drop Location</th>
                            <th>Miles</th>
                            <th>Load Date</th>
                            <th>Load Rate</th>
                            <th>Load Description</th>
                            <th>Update</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for load in load_info %}
                        <tr>
                            <!-- <td>Selected</td> -->

                            <td>{{load['load_id']}}</td>
                            <td>{{load['load_number']}}</td>
                            <td>{{load['pick_up_location']}}</td>
                            <td>{{load['drop_location']}}</td>
                            <td>{{load['miles']}}</td>
                            <td>{{load['load_date']}}</td>
                            <td>{{load['load_rate']}} $</td>
                            <td>{{load['load_description']}}</td>
                            <td>
                                <a href="{{ url_for('update_the_load_info', load_id = load['load_id']   , carear_id = load['carear_id']) }}"
                                    type="submit" class="btn">Update</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Footer -->
<!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer> -->
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->








<script>
    $(document).ready(function () {
        // Add click event listener to the buttons
        $('.openPopupBtn').on('click', function () {
            // Get the career ID from the data attribute
            var careerId = $(this).data('career-id');

            // Make an AJAX request to get the content and variable for the popup
            $.ajax({
                url: '/popup_content?careerId=' + encodeURIComponent(careerId),
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Update the modal content with the received content and variable
                    var popupContent = `
                    
    
    
    
                    <section class="form-02-main student-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="_lk_de">
    
                        <div class="form-04-main">
                            <!-- <div class="logo">
                                <img src="/static/images/public_images/user.png">
                            </div> -->
                            <h1 class="text-center">Carear Detailes</h1>
    
                            <div class="form-group">
    <div class="container">
        <div class="main-body ">
    
            <div class="row gutters-sm">
    
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Company Name</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.company_name}
                                </h5>
                                <!-- </div>
                                <hr>
                                <div class="row"> -->
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Carear Name</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.carear_name}
                                </h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">US DOT
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.usdot}    
                                </h5>
                                <!-- </div>
                                <hr>
                                <div class="row"> -->
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">MC</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.mc}
                                </h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Crear Email</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.email}                                             
                                </h5>
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Carear Phone</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.phone_number}                                    
                                </h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Truck type & Number</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.truck_type_and_number}                          
                                </h5>
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">EIN</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.ein}                                                
                                </h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">INC Name</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.inc_name}
                                </h5>
                                <!-- </div>
                                <hr>
                                <div class="row"> -->
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">INC Number</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    <p>${response.career_info.inc_number}</p>
                                </h5>
                            </div>
    
    
                            <hr>
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">INC Address</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.inc_address}                                       
                                </h5>
                                <!-- </div>
                                <hr>
                                <div class="row"> -->
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">INC Email</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.inc_email}
                                </h5>
                            </div>
                            <hr>
                            
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">INC Fax Number</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.inc_fax_number}
                                </h5>
                                <!-- </div>
                                <hr>
                                <div class="row"> -->
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">INC Coverges</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.inc_coverges}
                                </h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Fac Name</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.fac_name}
                                </h5>
    
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Fac Phone Number</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.fac_phone_number}
                                </h5>
                            </div>
                            <hr>
    
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Fac Email</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.fac_email}
                                </h5>
    
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Fac Address</h6>
                                </div>
                                <h5 class="col-sm-2 ">
                                    ${response.career_info.fac_address}
                                </h5>
                            </div>
                            <hr>
                            
    
                            
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Bank Name</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.bank_name}
                                </h5>
    
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Routing Number</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.routing_number}
                                </h5>
                            </div>
    
                            <hr>
    
                            <div class="row">
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Account Number</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.account_number}
                                </h5>
    
                                <div class="col-sm-2 text-secondary">
                                    <h6 class="mb-0">Bank Phone</h6>
                                </div>
                                <h5 class="col-sm-4 ">
                                    ${response.career_info.bank_phone_number}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>                `;
                    $('#popupContent').html(popupContent);

                    // Show the modal
                    $('#popupModal').modal('show');
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });

</script>


{% endblock main_body_contant %}