{% extends 'dispatcher_temp/dispatcher_temp.html' %}




{% block header_sytyle %}
        
<style>
    .register {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        margin-top: 3%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

    .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

    .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .register .nav-tabs .nav-link:hover {
        border: none;
    }

    .register .nav-tabs .nav-link.active {
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
{% endblock header_sytyle %}



{% block main_body_contant %}
                        



                <div class="container register">
                    <div class="row">
                        <div class="col-md-3 register-left">
                            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
                            <h3>Welcome</h3>
                            <p>To Sublime Freight Family</p>
                        </div>

                        {% if carear_info != [] %}
                            
                        <div class="col-md-9 register-right">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <h3 class="register-heading">Add New Load Details</h3>
                                    <form action="{{ url_for('save_load_info') }}" method="post"
                                        enctype="multipart/form-data">
                                        <div class="row register-form">
                                            <div class="col-md-6">
                                                <!-- Sale Man form inputs -->


                                                <div class="form-group d-none">
                                                    <input name="load_id" type="text" class="form-control"
                                                        placeholder="load Id " value="" />
                                                </div>
                                                

                                                <div class="form-group">
                                                    <select name="carear_id" class="form-select form-control"
                                                        aria-label="Default select example" required>
                                                        <option value='' disabled selected hidden> Select
                                                            Carear
                                                        </option>

                                                        {% for i in carear_info %}
                                                        <option value="{{i['carear_id']}}" name="carear_id">
                                                            {{i['carear_name']}}&nbsp; &nbsp; &nbsp;ID: {{i['carear_id']}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                </td>

                                                
                                                <div class="form-group">
                                                    <input name="pick_up_location" type="text" class="form-control"
                                                        placeholder="Pick Up Location" value="" />
                                                    </div>

                                                <div class="form-group">
                                                    <input name="miles" type="text" class="form-control"
                                                        placeholder="Miles" value="" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="load_number" type="text" class="form-control"
                                                        placeholder="Load Number" value="" />
                                                </div>


                                            </div>

                                            <div class="col-md-6">
                                                <!-- Sale Man form inputs -->



                                                <div class="form-group">
                                                    <input name="load_date" type="date" class="form-control"
                                                        placeholder="Load Date" value="" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="drop_location" type="text" class="form-control"
                                                        placeholder="Drop Location " value="" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="load_rate" type="text" class="form-control"
                                                        placeholder="Load Rate" value="" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="load_description" type="text" class="form-control"
                                                        placeholder="Load Description" value="" />
                                                    </div>
                                                    
                                                <input type="submit" class="btnRegister" value="Submit" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                        
                    {% else %}
                        
                    <h1>Sorry you do not have any carear</h1>
                    {% endif %}

                    </div>
                </div>
            </div>
            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {% endblock main_body_contant %}