<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/CSS/css/main.css" />
    <title>Sublime Freight Log In</title>
    <link rel="icon" type="image/x-icon" href="/static/images/img/tab_icon.svg">

    <style>
      h1 { margin-top: 150px; text-align: center; color: #fff; }
      .lead { margin: 30px auto; text-align: center; color: #fff; }
    </style>
    <style>
        .loading{
            background: url('/static/images/img/preloader_1.gif') no-repeat center center;
			background-color: rgba(255, 255, 255, 0.77);
			background-size: 20%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
	</style>
</head>

<body>

    <div id="loadingDiv" class="loading"></div>


    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-6">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message, category in messages %}
                                {% if category == 'login_fail' %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading text-center">{{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h4>
                                </div>
                                {% elif category == 'changed_password_success' %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading text-center">{{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h4>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="col-md-10 col-lg-12 col-xl-12">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log In</p>
                                    <div id="pinpad">
                                        <form class="mx-1 mx-md-4" method="POST" action="{{ url_for('login_page') }}">
                                            <input name="user_pin" type="password" id="password" /><br>
                                            <input type="button" value="1" id="1" class="pinButton calc" />
                                            <input type="button" value="2" id="2" class="pinButton calc" />
                                            <input type="button" value="3" id="3" class="pinButton calc" /><br>
                                            <input type="button" value="4" id="4" class="pinButton calc" />
                                            <input type="button" value="5" id="5" class="pinButton calc" />
                                            <input type="button" value="6" id="6" class="pinButton calc" /><br>
                                            <input type="button" value="7" id="7" class="pinButton calc" />
                                            <input type="button" value="8" id="8" class="pinButton calc" />
                                            <input type="button" value="9" id="9" class="pinButton calc" /><br>
                                            <input type="button" value="clear" id="clear" class="pinButton clear" />
                                            <input type="button" value="0" id="0 " class="pinButton calc" />
                                            <input type="submit" value="enter" id="enter" class="pinButton enter" />
                                        </form>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                </div>
            </div>
        </div>
    </section>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/static/JS/js/app.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script>
    try {
      fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
        return true;
      }).catch(function (e) {
        var carbonScript = document.createElement("script");
        carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
        carbonScript.id = "_carbonads_js";
        document.getElementById("carbon-block").appendChild(carbonScript);
      });
    } catch (error) {
      console.log(error);
    }
  </script>


<!-- jQuery CDN (add this to your HTML) -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Script to show/hide loading div -->
<script>
    $(document).ready(function () {
        // Show loading div when a link is clicked
        $('a.nav-link').on('click', function () {
            $('#loadingDiv').show();
        });

        // Hide loading div when the page is fully loaded
        $(window).on('load', function () {
            $('#loadingDiv').hide();
        });
    });
</script>


</body>

</html>