{% extends 'admin_temp/admin_temp.html' %}



{% block header_sytyle %}


    <style>
        .register {
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
            margin-top: 3%;
            padding: 3%;
        }

        .register-left {
            text-align: center;
            color: #fff;
            margin-top: 4%;
        }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

        .register-right {
            background: #f8f9fa;
            border-top-left-radius: 10% 50%;
            border-bottom-left-radius: 10% 50%;
        }

        .register-left img {
            margin-top: 15%;
            margin-bottom: 5%;
            width: 25%;
            -webkit-animation: mover 2s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        @-webkit-keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        .register-left p {
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }

        .register .register-form {
            padding: 10%;
            margin-top: 10%;
        }

        .btnRegister {
            float: right;
            margin-top: 10%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #0062cc;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
        }

        .register .nav-tabs {
            margin-top: 3%;
            border: none;
            background: #0062cc;
            border-radius: 1.5rem;
            width: 28%;
            float: right;
        }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #0062cc;
            border: 2px solid #0062cc;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        .register-heading {
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #495057;
        }

        .form-select {
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }


                /* Custom styles for inputs within the tab-content class */
         input.form-control {
            font-size: 16px; /* Adjust the font size as needed */
            color: #0062CC; /* Default color for the input text */
        }

 input.form-control:not(:placeholder-shown) {
            color: #0062CC; /* Color for the input text when it has a value */
        }
    </style>

<script>
    function validateForm() {
        var stateSelect = document.getElementById("stateSelect");
        if (stateSelect.value === "") {
            alert("Please select a state.");
            return false;
        }
        return true;
    }
</script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

    {% endblock header_sytyle %}


    {% block main_body_contant %}


                <div class="container register">
                    <div class="row">
                        <div class="col-md-3 register-left">
                            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
                            <h3>Welcome</h3>
                            <p>To Sublime Freight Sales Form</p>
                        </div>
                        <div class="col-md-9 register-right">

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <h3 class="register-heading">Update Appointment</h3>

                                    <form action="{{ url_for('update_the_appoinments_by_admin') }}" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
 
                                        <div class="row register-form">
                                            <div class="col-md-6">


                                                <!-- This is important . Its go for carear Id But its not -->

                                                <div class="form-group d-none">
                                                    <input name="appointment_id" type="text" class="form-control"
                                                        placeholder="Appointment ID"
                                                        value="{{appointment_info['appointment_id']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="company_name" type="text" class="form-control"
                                                        placeholder="Company Name"
                                                        value="{{appointment_info['company_name']}}" />
                                                </div>
                                                <div class="form-group">
                                                    <input name="usdot" type="text" class="form-control"
                                                        placeholder="US DOT" value="{{appointment_info['usdot']}}" />
                                                </div>
                                                <div class="form-group">
                                                    <input name="email" type="text" class="form-control"
                                                        placeholder="Carear Email" value="{{appointment_info['email']}}" />
                                                </div>
                                                <div class="form-group">
                                                    <input name="truck_or_traler" type="text" class="form-control"
                                                        placeholder="Truck / Trailer"
                                                        value="{{appointment_info['truck_type_and_number']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="comments" type="text" class="form-control"
                                                        placeholder="Comments" value="{{appointment_info['comments']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <select name="appointment_type" class="form-select"
                                                        aria-label="Default select example" required>
                                                        <option value="{{appointment_info['appointment_type']}}" disabled selected
                                                            hidden>Select Appoinment type</option>
                                                        <option value="good_appointment" name="appointment_type"
                                                            style="background-color: green;">Good Appointment</option>

                                                        <option value="bad_appointment" name="appointment_type"
                                                            style="background-color: red;">Bad Appointment</option>

                                                        <option value="fellow_up_appoinment" name="appointment_type"
                                                            style="background-color: yellow;">Follow Up</option>
                                                        <option value="" name="appointment_type"
                                                            style="background-color: pink;" disabled>ABC Appointment</option>
                                                        <option value="" name="appointment_type"
                                                            style="background-color: black;" disabled>XYZ Appointment</option>
                                                    </select>

                                                    
                                                    {% if appointment_info != '' %}
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input  type="text" class="form-control" disabled value="{{appointment_info['appointment_type']}}" required />
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>



                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="carear_name" type="text" class="form-control"
                                                        placeholder="Carear Name" value="{{appointment_info['carear_name']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="mc" type="text" class="form-control" placeholder="MC"
                                                        value="{{appointment_info['mc']}}" />
                                                </div>


                                                <div class="form-group">
                                                    <input name="phone_number" type="text" class="form-control"
                                                        placeholder="Carear Phone"
                                                        value="{{appointment_info['phone_number']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input name="conversations" type="text" class="form-control"
                                                        placeholder="Conversations" value="{{appointment_info['conversations']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <input required name="date" type="date" class="form-control"
                                                        placeholder="Date" value="{{appointment_info['date']}}" />
                                                </div>

                                                <div class="form-group">
                                                    <select name="state" id="stateSelect" class="form-select" aria-label="Default select example" required>
                                                        <option disabled selected hidden>Select state</option>
                                                        <option value="AL">Alabama (AL)</option>
                                                        <option value="AK">Alaska (AK)</option>
                                                        <option value="AZ">Arizona (AZ)</option>
                                                        <option value="AR">Arkansas (AR)</option>
                                                        <option value="CA">California (CA)</option>
                                                        <option value="CO">Colorado (CO)</option>
                                                        <option value="CT">Connecticut (CT)</option>
                                                        <option value="DE">Delaware (DE)</option>
                                                        <option value="FL">Florida (FL)</option>
                                                        <option value="GA">Georgia (GA)</option>
                                                        <option value="HI">Hawaii (HI)</option>
                                                        <option value="ID">Idaho (ID)</option>
                                                        <option value="IL">Illinois (IL)</option>
                                                        <option value="IN">Indiana (IN)</option>
                                                        <option value="IA">Iowa (IA)</option>
                                                        <option value="KS">Kansas (KS)</option>
                                                        <option value="KY">Kentucky (KY)</option>
                                                        <option value="LA">Louisiana (LA)</option>
                                                        <option value="ME">Maine (ME)</option>
                                                        <option value="MD">Maryland (MD)</option>
                                                        <option value="MA">Massachusetts (MA)</option>
                                                        <option value="MI">Michigan (MI)</option>
                                                        <option value="MN">Minnesota (MN)</option>
                                                        <option value="MS">Mississippi (MS)</option>
                                                        <option value="MO">Missouri (MO)</option>
                                                        <option value="MT">Montana (MT)</option>
                                                        <option value="NE">Nebraska (NE)</option>
                                                        <option value="NV">Nevada (NV)</option>
                                                        <option value="NH">New Hampshire (NH)</option>
                                                        <option value="NJ">New Jersey (NJ)</option>
                                                        <option value="NM">New Mexico (NM)</option>
                                                        <option value="NY">New York (NY)</option>
                                                        <option value="NC">North Carolina (NC)</option>
                                                        <option value="ND">North Dakota (ND)</option>
                                                        <option value="OH">Ohio (OH)</option>
                                                        <option value="OK">Oklahoma (OK)</option>
                                                        <option value="OR">Oregon (OR)</option>
                                                        <option value="PA">Pennsylvania (PA)</option>
                                                        <option value="RI">Rhode Island (RI)</option>
                                                        <option value="SC">South Carolina (SC)</option>
                                                        <option value="SD">South Dakota (SD)</option>
                                                        <option value="TN">Tennessee (TN)</option>
                                                        <option value="TX">Texas (TX)</option>
                                                        <option value="UT">Utah (UT)</option>
                                                        <option value="VT">Vermont (VT)</option>
                                                        <option value="VA">Virginia (VA)</option>
                                                        <option value="WA">Washington (WA)</option>
                                                        <option value="WV">West Virginia (WV)</option>
                                                        <option value="WI">Wisconsin (WI)</option>
                                                        <option value="WY">Wyoming (WY)</option>
                                                    </select>
                                                    {% if appointment_info != '' %}
                                                        <!-- Display the selected state if appointment_info is not empty -->
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" disabled value="{{ appointment_info['state'] }}" />
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                
                                                <div class="form-group">
                                                    <input type="submit" class="btnRegister" value="Submit" />
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <!-- <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer> -->
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
    <!-- End of Page Wrapper -->

    {% endblock main_body_contant %}