{% extends 'admin_temp/admin_temp.html' %}



{% block header_sytyle %}
<style>
        .table tr {
            overflow: auto;
            white-space: nowrap;
        }
</style>
{% endblock header_sytyle %}



{% block main_body_contant %}

                <div class="container-fluid">


                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message, category in messages %}
                    {% if category == 'disable_success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading text-center">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h4>
                    </div>

                    {% elif category == 'disable_fail' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading text-center">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h4>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All Employees PIN Records</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>PIN</th>
                                            <th>User Type</th>
                                            <th>Phone Number</th>
                                            <th>Disable</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in user_pins %}

                                        <tr>
                                            <th>{{item['user_pin']}}</th>
                                            <td>{{item['user_name']}}</td>
                                            <td>{{item['user_email']}}</td>
                                            <!-- <td>{{item['user_pin']}}</td> -->
                                            <td class="pin-cell"
                                                onclick="revealPassword('{{ item['user_id'] }}', this)">
                                                ••••••••
                                            </td>
                                            <td>{{item['user_type']}}</td>
                                            <td>{{item['user_phone_number']}}</td>

                                            <td>
                                                {% if item['user_type'] != 'admin' %}
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#user_disable_model"
                                                    onclick="setDisableUser('{{ item['user_pin'] }}')">
                                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Disable
                                                </a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                    {% if disable_user_pins != [] %}

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">UnActive Employees Records</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>PIN</th>
                                            <th>User Type</th>
                                            <th>Phone Number</th>
                                            <th>Enable</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for item in disable_user_pins %}

                                        <tr>
                                            <td>{{item['user_pin']}}</td>
                                            <td>{{item['user_name']}}</td>
                                            <td>{{item['user_email']}}</td>
                                            <!-- <td>{{item['user_pin']}}</td> -->
                                            <td class="pin-cell"
                                                onclick="revealPassword('{{ item['user_id'] }}', this)">
                                                ••••••••
                                            </td>
                                            <td>{{item['user_type']}}</td>
                                            <td>{{item['user_phone_number']}}</td>

                                            <td>
                                                {% if item['user_type'] != 'admin' %}
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#user_enable_model"
                                                    onclick="setenableUser('{{ item['user_pin'] }}')">
                                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Enable
                                                </a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            {% endif %}


            <script>
                function revealPassword(pin, element) {
                    element.textContent = pin;
                    // You may want to add additional logic to hide the password after a certain period
                    setTimeout(function () {
                        element.textContent = "••••••••";
                    }, 2000); // Example: hide the password after 3 seconds
                }
            </script>


            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->




    <div class="modal fade" id="user_disable_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Disable?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Disable" below if you are ready to Disable current User.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="disableUserButton" href="#">Disable</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        function setDisableUser(userPin) {
            var disableButton = document.getElementById('disableUserButton');
            disableButton.href = "{{ url_for('disable_the_user', user_pin='') }}" + userPin;
        }
    </script>

    <div class="modal fade" id="user_enable_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Enable?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Enable" below if you are ready to Enable current User.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="enableUserButton" href="#">Enable</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        function setenableUser(userPin) {
            var disableButton = document.getElementById('enableUserButton');
            disableButton.href = "{{ url_for('enable_the_user', user_pin='') }}" + userPin;
        }
    </script>


{% endblock main_body_contant %}