{% extends 'admin_temp/admin_temp.html' %}



{% block header_sytyle %}
<style>
        .table tr {
            overflow: auto;
            white-space: nowrap;
        }
</style>

{% endblock header_sytyle %}


{% block search_bar_contant %}

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                {% endblock search_bar_contant %}


                {% block main_body_contant %}

            
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Before Update Sales Records </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Carear ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Driver</th>
                                    <th>Phone Number</th>
                                    <th>MC & USDOT</th>
                                    <th>Chargers</th>
                                    <th>Company Name</th>
                                    <th>Truck & Truck Number</th>
                                    <th>Date</th>
                                    <th>Factoring Numumber & Email</th>
                                    <th>EIN</th>
                                    <th>Bank Name</th>
                                    <th>Physical Address</th>
                                    <th>Factoring Address</th>
                                    <th>Account Number</th>
                                    <th>Routing Number</th>
                                    <th>Refrence</th>
                                    <th>Insurance Details</th>
                                    <th>Comments</th>
                                    <th>Equipments</th>
                                    <th>Factoring Name</th>
                                    <th>Sale Man</th>
                                    <th>Dispatcher</th>
                                    <th>Update (changes)</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Carear ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Driver</th>
                                    <th>Phone Number</th>
                                    <th>MC & USDOT</th>
                                    <th>Chargers</th>
                                    <th>Company Name</th>
                                    <th>Truck & Truck Number</th>
                                    <th>Date</th>
                                    <th>Factoring Numumber & Email</th>
                                    <th>EIN</th>
                                    <th>Bank Name</th>
                                    <th>Physical Address</th>
                                    <th>Factoring Address</th>
                                    <th>Account Number</th>
                                    <th>Routing Number</th>
                                    <th>Refrence</th>
                                    <th>Insurance Details</th>
                                    <th>Comments</th>
                                    <th>Equipments</th>
                                    <th>Factoring Name</th>
                                    <th>Sale Man</th>
                                    <th>Dispatcher</th>
                                    <th>Update (changes)</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in all_sales_data %}

                                <tr>
                                    {% if item['sale_type'] == 'active_sale'%}
                                                <td>
                                                    <button style="background-color: green;"
                                                        class="dropdown-item openPopupBtn">
                                                        {{ item['carear_id'] }}
                                                    </button>
                                                </td>
                                                {% endif %}

                                                {% if item['sale_type'] == 'inactive_sale'%}
                                                <td>
                                                    <button style="background-color: red;"
                                                        class="dropdown-item openPopupBtn">
                                                        {{ item['carear_id'] }}
                                                    </button>
                                                </td>
                                                {% endif %}

                                                {% if item['sale_type'] == 'good_appoinment'%}
                                                <td>
                                                    <button style="background-color: yellow;"
                                                        class="dropdown-item openPopupBtn">
                                                        {{ item['carear_id'] }}
                                                    </button>
                                                </td>
                                    {% endif %}

                                    
                                    <td>{{item['d_name']}}</td>
                                    <td>{{item['email']}}</td>
                                    <td>{{item['driver']}}</td>
                                    <td>{{item['phone_number']}}</td>
                                    <td>{{item['mc_usdot']}}</td>
                                    <td>{{item['charges']}}</td>
                                    <td>{{item['company_name']}}</td>
                                    <td>{{item['t_number']}}</td>
                                    <td>{{item['date']}}</td>
                                    <td>{{item['factoring_num_email']}}</td>
                                    <td>{{item['ein']}}</td>
                                    <td>{{item['bank_name']}}</td>
                                    <td>{{item['physical_address']}}</td>
                                    <td>{{item['factoring_address']}}</td>
                                    <td>{{item['account_number']}}</td>
                                    <td>{{item['routing_number']}}</td>
                                    <td>{{item['refrence']}}</td>
                                    <td>{{item['insurance_details']}}</td>
                                    <td>{{item['comments']}}</td>
                                    <td>{{item['equipments']}}</td>
                                    <td>{{item['factoring_name']}}</td>
                                    <td>{{item['sale_man_pin']}}</td>
                                    <td>{{item['dispatcher_pin']}}</td>
                                    <!-- <td><a href="{{ url_for('update_carear_info', carear_id=item['carear_id']) }}" type="submit" class="btn">Update</a></td> -->

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <!-- <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer> -->
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {% endblock main_body_contant %}