{% extends 'admin_temp/admin_temp.html' %}



{% block header_sytyle %}
<style>
    .table tr {
        overflow: auto;
        white-space: nowrap;
    }

 
</style>


{% endblock header_sytyle %}


{% block search_bar_contant %}
<!-- Sidebar Toggle (Topbar) -->
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
</button>

<!-- Topbar Search -->
<form action="{{ url_for('search_carear_for_admin_for_seach') }}" method="post"
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input name="search_text" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
{% endblock search_bar_contant %}


{% block main_body_contant %}
<!-- Page Heading -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All ATM CARD Records</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Carear ID</th>
                        <th>Driver Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Care Number</th>
                        <th>Card Expiry</th>
                        <th>Card CVC</th>
                        <th>Card Type</th>
                        <th>Holder Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Carear ID</th>
                        <th>Driver Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Care Number</th>
                        <th>Card Expiry</th>
                        <th>Card CVC</th>
                        <th>Card Type</th>
                        <th>Holder Name</th>
                    </tr>
                </tfoot>


                <tbody>
                    {% for item in card_info %}
                    <tr>
                        <td>
                            <button
                                onclick="showDetails('{{ item.carear_id }}', '{{ item.d_name }}', '{{ item.email }}' , '{{ item.phone_number }}', '{{ item.care_number }}', '{{ item.card_expiry }}' , '{{ item.card_cvc }}', '{{ item.card_type }}', '{{ item.card_holder_name }}')"
                                class="dropdown-item openPopupBtn">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ item['carear_id'] }}
                            </button>
                        </td>
                        <td>{{ item['d_name'] }}</td>
                        <td>{{ item['email'] }}</td>
                        <td>{{ item['phone_number'] }}</td>
                        <td>{{ item['care_number'] }}</td>
                        <td>{{ item['card_expiry'] }}</td>
                        <td>{{ item['card_cvc'] }}</td>
                        <td>{{ item['card_type'] }}</td>
                        <td>{{ item['card_holder_name'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">

        <div class="" id="modal-body">
            <!-- Row details will be displayed here -->
        </div>

    </div>
</div>

<script>
    function showDetails(carear_id, d_name, email, phone_number, care_number, card_expiry, card_cvc, card_type, card_holder_name) {
        var modalBody = document.getElementById("modal-body");

        // Function to split the card number into groups of four digits
        function splitCardNumber(cardNumber) {
            var groups = [];
            for (var i = 0; i < cardNumber.length; i += 4) {
                groups.push(cardNumber.slice(i, i + 4));
            }
            return groups;
        }

        // Get the card number groups
        var cardNumberGroups = splitCardNumber(care_number);

        modalBody.innerHTML = `

        <style>
            /* Your existing styles here */

            .modal-card {
                border: none;
                width: 400px;
                border-radius: 12px;
                color: #fff;
                background-image: linear-gradient(to right top, #280537, #56034c, #890058, #bc005b, #eb1254);
                margin: 0;
            }

            .modal-card .number span {
                font-size: 20px;
                font-weight: 600;
            }

            .modal-card .cardholder,
            .modal-card .expires {
                font-weight: 600;
                font-size: 17px;
            }

            .modal-card .name,
            .modal-card .date {
                font-size: 15px;
            }

            .modal-card .card-border {
                border-top-left-radius: 30px !important;
                border-top-right-radius: 30px !important;
                border: none;
                border-radius: 6px;
                background-color: blue;
                color: #fff;
                background-image: linear-gradient(to right top, #0c0537, #440b51, #7f005d, #b9005b, #eb124b);
            }
        </style>

        <div class="modal-card p-3">
            <div class="d-flex justify-content-between align-items-center">
                <img src="static/images/img/atm_card_pic.png" width="50" />
                <h3>${card_type}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="px-2 number mt-3 d-flex justify-content-between align-items-center">
                <span>${cardNumberGroups[0]}</span>
                <span>${cardNumberGroups[1]}</span>
                <span>${cardNumberGroups[2]}</span>
                <span>${cardNumberGroups[3]}</span>
            </div>

            <div class="p-4 card-border mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="cardholder">Card Holder</span>
                    <span class="expires">Expires</span>
                    <span class="expires">CSV</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="name">${card_holder_name}</span>
                    <span class="date">${card_expiry}</span>
                    <span class="date">${card_cvc}</span>
                </div>
            </div>
        </div>
        `;

        // Show the modal
        $('#myModal').modal('show');
    }
</script>


{% endblock main_body_contant %}