{% extends 'admin_temp/admin_temp.html' %}



{% block header_sytyle %}
<style>
    .table tr {
        overflow: auto;
        white-space: nowrap;
    }


    /* Add a style to remove the default button appearance */
    .externalWebsiteButton {
        background: none;
        border: none;
        color: blue;
        /* Change the color as needed */
        cursor: pointer;
        text-decoration: underline;
        /* Add underline to make it look like a link */
        text-decoration: none;
    }

    .openExternalWebsite_for_pop {
        background: none;
        border: none;
        color: blue;
        /* Change the color as needed */
        cursor: pointer;
        text-decoration: underline;
        /* Add underline to make it look like a link */
        text-decoration: none;
    }




</style>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock header_sytyle %}


{% block search_bar_contant %}

<!-- Topbar Search -->
<form action="{{ url_for('search_carear_for_admin_for_seach') }}" method="post"
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input name="search_text" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
{% endblock search_bar_contant %}


{% block main_body_contant %}



<!-- Page Heading -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Sales Records</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Carear ID</th>
                        <th>Carear Name</th>
                        <th>MC</th>
                        <th>US DOT</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Sale Man</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Carear ID</th>
                        <th>Carear Name</th>
                        <th>MC</th>
                        <th>US DOT</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Sale Man</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for item in all_sales_data %}
                    {% if head_light == item['carear_id'] %}

                    <tr style="background-color: #36b9cc; color: white;">


                        {% else %}
                    <tr>

                        {% endif %}

                        {% if item['sale_type'] == 'active_sale'%}
                        <td>
                            <a style="background-color: green;" class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#card_url_info" data-career-id="{{ item['carear_id'] }}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ item['carear_id'] }}
                            </a>
                        </td>
                        {% endif %}

                        {% if item['sale_type'] == 'inactive_sale'%}
                        <td>
                            <a style="background-color: red;" class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#card_url_info" data-career-id="{{ item['carear_id'] }}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ item['carear_id'] }}
                            </a>
                        </td>
                        {% endif %}

                        {% if item['sale_type'] == 'good_appoinment'%}
                        <td>
                            <a style="background-color: yellow;" class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#card_url_info" data-career-id="{{ item['carear_id'] }}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ item['carear_id'] }}
                            </a>
                        </td>
                        {% endif %}


                        <td>
                            <button
                                onclick="showDetails('{{ item.carear_id }}', '{{ item.company_name }}', '{{ item.carear_name }}', '{{ item.usdot }}' , '{{ item.mc }}', '{{ item.state }}', '{{ item.email }}',  '{{ item.phone_number }}', '{{ item.truck_type_and_number }}' , '{{ item.ein }}', '{{ item.inc_name }}' , '{{ item.inc_number }}', '{{ item.inc_address }}', '{{ item.inc_email }}' , '{{ item.inc_fax_number }}', '{{ item.inc_coverges }}', '{{ item.fac_name }}',  '{{ item.fac_phone_number }}', '{{ item.fac_email }}' , '{{ item.fac_address }}', '{{ item.bank_name }}' , '{{ item.routing_number }}', '{{ item.account_number }}', '{{ item.bank_phone_number }}' , '{{ item.sale_man_pin }}', '{{ item.dispatcher_pin }}')"
                                class="dropdown-item openPopupBtn" data-career-id="{{ item['carear_id'] }}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ item['carear_name'] }}
                            </button>
                        </td>


                        
                        <td>
                            <button class="externalWebsiteButton" data-mc="{{ item['mc'] }}">{{ item['mc'] }}</button>
                        </td>
                        <td>{{item['usdot']}}</td>
                        
                        <td>{{item['email']}}</td>
                        <td>{{item['phone_number']}}</td>
                        <td>{{item['user_name']}}</td>
                        <td>

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appoinments"
                                onclick="set_delete_sales('{{ item['carear_id'] }}')">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Delete
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End of Main Content -->

<!-- Footer -->
<!-- <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer> -->
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<div class="modal fade bd-example-modal-xl" tabindex="-2" role="dialog" id="myModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carear Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- Row details will be displayed here -->
            </div>

        </div>
    </div>
</div>





<div class="modal fade" id="delete_appoinments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Disable?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to Delete current Appoinment.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="delete_sales_button" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>




<script>
    function set_delete_sales(carear_id) {
        var disableButton = document.getElementById('delete_sales_button');
        disableButton.href = "{{ url_for('delete_the_sales_by_admin', carear_id='') }}" + carear_id;
    }
</script>




<!-- Your modal content -->
<div class="modal fade" id="card_url_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Card Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Career ID: <a href="https://sublime-freight-llc.onrender.com////gernater_url_to_store_card_info//"
                        id="careerUrl" target="_blank">https://sublime-freight-llc.onrender.com////gernater_url_to_store_card_info//<span
                            id="careerIdPlaceholder"></span></a></p>
            </div>
            <div class="modal-footer">
                <!-- Add a Copy button -->
                <button type="button" class="btn btn-primary"  onclick="copyCareerUrl()">Copy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Add other modal buttons here -->
            </div>
        </div>
    </div>
</div>

<script>
    function copyTextToClipboard(text) {
        var tempInput = document.createElement('input');
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
    }

    // Use jQuery to ensure the DOM is ready
    $(document).ready(function () {
        // Handle the click event on the Copy button in the "Card Information" modal
        $('#card_url_info .btn-primary').on('click', function () {
            var careerUrl = $('#careerUrl').attr('href');
            // Call the function to copy the career URL
            copyTextToClipboard(careerUrl);
            // Optionally provide feedback to the user, e.g., show an alert
            alert('Copied to clipboard: ' + careerUrl);
        });
    });
</script>


<!-- Add jQuery and Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Add a script to handle button clicks -->
<script>
    // Use a class to select all buttons and add event listeners dynamically
    var buttons = document.querySelectorAll('.externalWebsiteButton');

    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            var mc = button.getAttribute('data-mc');
            var externalWebsiteUrl = "https://safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=MC_MX&query_string=" + mc;

            // Open the URL in a pop-up window
            window.open(externalWebsiteUrl, '_blank');
        });
    });
</script>



<script>
    $(document).ready(function () {
        // Handle the click event on the link
        $('.dropdown-item').on('click', function () {
            // Get the career ID from the data attribute
            var careerId = $(this).data('career-id');

            // Set the career ID in the modal
            $('#careerIdPlaceholder').text(careerId);
        });
    });
</script>





<script>
    function showDetails(carear_id, company_name, carear_name, usdot, mc, state, email, phone_number, truck_type_and_number, ein, inc_name, inc_number, inc_address, inc_email, inc_fax_number, inc_coverges, fac_name, fac_phone_number, fac_email, fac_address, bank_name, routing_number, account_number, bank_phone_number, sale_man_pin, dispatcher_pin) {
        // Set the modal body content
        var modalBody = document.getElementById("modal-body");

        modalBody.innerHTML = `


        <style>
    .card-body h5
    {
        color: #4D72DE;
    }

    .modal-body h5 {
    word-wrap: break-word;
}
</style>
                <section class="form-02-main student-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="_lk_de">

                    <div class="form-04-main">
                        <h1 class="text-center">${company_name}</h1>

                        <div class="form-group">
<div class="container">
    <div class="main-body ">

        <div class="row gutters-sm">

            <div class="col-md-12">
                <div class="mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Company Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${company_name}
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Carear Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${carear_name}
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">US DOT
                            </div>
                            <h5 class="col-sm-4 ">
                                ${usdot}    
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">MC</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                    <button class="openExternalWebsite_for_pop btn-primary" data-mc="${mc}">${mc}</button>                                    
                            </h5>


                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">State</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${state}
                            </h5>

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Crear Email</h6>
                            </div>
                            
                            <h5 class="col-sm-4"  >
                                ${email}                                             
                            </h5>

                        </div>
                        <hr>


                        <div class="row">

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Carear Phone</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${phone_number}                                    
                            </h5>

                            </div>
                            <hr>


                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Truck type & Number</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${truck_type_and_number}                          
                            </h5>
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">EIN</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${ein}                                                
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">INC Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${inc_name}
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">INC Number</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                <p>${inc_number}</p>
                            </h5>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">INC Address</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${inc_address}                                       
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">INC Email</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${inc_email}
                            </h5>
                        </div>
                        <hr>
                        
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">INC Fax Number</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${inc_fax_number}
                            </h5>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">INC Coverges</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${inc_coverges}
                            </h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Fac Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${fac_name}
                            </h5>

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Fac Phone Number</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${fac_phone_number}
                            </h5>
                        </div>
                        <hr>

                        <div class="row">


                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Fac Address</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${fac_address}
                            </h5>

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Fac Email</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${fac_email}
                            </h5>


                        </div>
                        <hr>
                        

                        
                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Bank Name</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${bank_name}
                            </h5>

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Routing Number</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${routing_number}
                            </h5>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Account Number</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${account_number}
                            </h5>

                            <div class="col-sm-2 text-secondary">
                                <h6 class="mb-0">Bank Phone</h6>
                            </div>
                            <h5 class="col-sm-4 ">
                                ${bank_phone_number}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>

                <div class="modal-footer">

                    <div class="mr-auto">
        <!-- "Update" and "Delete" buttons on the left side -->




<button type="button" class="btn btn-primary">
    <a style="color: white;" href="#" data-toggle="modal"
                                            data-target="#delete_appoinments"
                                            onclick="set_delete_sales('${carear_id}')">
                                            Delete
                                        </a>
                                        </button>

    </div>
    <div class="ml-auto">
        <!-- "Close" button on the right side -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>

`

        // Function to open the external website in a pop-up window
        function openExternalWebsite(mc) {
            var externalWebsiteUrl = "https://safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=MC_MX&query_string=" + mc;
            // Open the URL in a pop-up window
            window.open(externalWebsiteUrl, '_blank');
        }

        // Use jQuery to ensure the DOM is ready
        $(document).ready(function () {
            // Use jQuery to select buttons with the class and attach the event listener
            $('.openExternalWebsite_for_pop').on('click', function () {
                // Get the MC from the data attribute
                var mc = $(this).data('mc');
                // Call the function to open the external website
                openExternalWebsite(mc);
            });
        });;

        // Show the modal
        $('#myModal').modal('show');
    }



</script>



<!-- Add a script to handle button clicks -->
<script>
    // Use a class to select all buttons and add event listeners dynamically
    var buttons = document.querySelectorAll('.externalWebsiteButton');

    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            var mc = button.getAttribute('data-mc');
            var externalWebsiteUrl = "https://safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=MC_MX&query_string=" + mc;

            // Open the URL in a pop-up window
            window.open(externalWebsiteUrl, '_blank');
        });
    });
</script>







{% endblock main_body_contant %}