{% extends 'admin_temp/admin_temp.html' %}



{% block header_sytyle %}
<style>
        .table tr {
            overflow: auto;
            white-space: nowrap;
        }
</style>

{% endblock header_sytyle %}


{% block search_bar_contant %}
                        
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
</button>

<!-- Topbar Search -->
<form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>

{% endblock search_bar_contant %}

{% block main_body_contant %}
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Record of Loads Which Deliver to Carears</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>

                                    <th>Carear ID</th>

                        
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Load Number</th>
                                    <th>Load Date</th>
                                    <th>Load Rate</th>
                                    <th>Load Location</th>
                                    <th>Distance</th>
                                    <th>Weight</th>
                                    <th>Pick Up Time</th>
                                    <th>Delivery Time</th>

                                    <!-- <th>Sale Man</th> -->
                                    <!-- <th>Dispatcher</th> -->
                                    <!-- <th>Update (changes)</th> -->
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Carear ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Load Number</th>
                                    <th>Load Date</th>
                                    <th>Load Rate</th>
                                    <th>Load Location</th>
                                    <th>Distance</th>
                                    <th>Weight</th>
                                    <th>Pick Up Time</th>
                                    <th>Delivery Time</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for carear, load in zipped_data %}
                                    <tr>
                                        <td>{{ carear['carear_id'] }}</td>                                        
                                        <td>{{ carear['carear_name'] }}</td>
                                        <td>{{ carear['email'] }}</td>
                                        <td>{{ carear['phone_number'] }}</td>
                            
                                        <td>{{ load['load_number'] }}</td>
                                        <td>{{ load['load_date'] }}</td>
                                        <td>{{ load['load_rate'] }} $</td>
                                        <td>{{ load['load_location'] }}</td>
                                        <td>{{ load['distance'] }}</td>
                                        <td>{{ load['weight'] }}</td>
                                        <td>{{ load['pick_up_time'] }}</td>
                                        <td>{{ load['delivery_time'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            
                            
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
         <!-- Footer -->
         <!-- <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer> -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% endblock main_body_contant %}